*{box-sizing: border-box;
}
body{
   margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
header{
    text-align: center;
    background-color: #1D2126;
    
}
header .col-md-3:last-child{
    padding-right: 0px;
}
[class*="col-md"]{
    padding: 0px 15px;
}
.logo{
    margin: 30px 30px 30px 0px;
}

.conteiner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 1170px;
    border: 1px solid black;
   
}



.navigation ul{
list-style: none;
margin: 0;
padding: 0;
display: flex;
}
.navigation ul li{
    margin: 0px 10px;
}

.navigation ul li:first-child{
    margin-left: 0px;
}

.navigation a:hover {
    border: 2px solid #5a6068;
    cursor: pointer;
    border-radius: 5px;
    color: #23b7a3;
}

.navigation ul li a{
    border: 2px solid #ffffff00;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: 700;
    padding:2px 8px;
    color: #5a6068;
}

.navigation #home{
border: 2px solid  #23b7a3;
color: #23b7a3;
border-radius: 5px;
}


.search input{      
height: 30px;
border: 2px solid #5a6068;
border-radius: 5px;
background: url(img/search.png);
background-position: 110% 50%;
background-repeat: no-repeat;
color:#f5f5f5;
font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder {color:#5a6068;font-family: 'Open Sans', sans-serif;font-size:15px;font-weight: 700;}
::-moz-placeholder          {color:#5a6068;font-family: 'Open Sans', sans-serif;font-size:15px;font-weight: 700;}/* Firefox 19+ */
:-moz-placeholder           {color:#5a6068;font-family: 'Open Sans', sans-serif;font-size:15px;font-weight: 700;}/* Firefox 18- */
:-ms-input-placeholder      {color:#5a6068;font-family: 'Open Sans', sans-serif;font-size:15px;font-weight: 700;}

/* Slide */

main{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
}
.slide{
display: flex;
background: url(img/slide.png);
background-repeat: no-repeat;
height: 660px;
width: 1900px;
color: white;
  
}
.slide .conteiner {
   
    width: 1170px;
   
    padding: 0px 15px;

}
.slide .conteiner .column:last-child{
align-self: flex-end;

}


.slide .conteiner .column{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */

}
.slide .row{
   display: flex;
   flex-wrap: wrap;
   margin: 10px 0px;
   
}


.slide a{
    display: block;
    width: 125px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fdfdfd;
    text-decoration: none;
    font-weight: 700;
     padding: 10px 0px; 
    margin-right: 10px;
    text-align: center;

}

.slide a:hover{
    
    border: 2px solid#39a493;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #39a493;

}

.slide p{
    width: 58%;
    text-align: left;
    font-size: 16px;
    margin: 10px 0px;
}

.row-slider-item div{
width: 13px;
height: 13px;
border-radius: 50%;
border: 2px solid #fff;
background-color: rgba(255, 255, 255, 0);
margin: 2px;

}

.row-slider-item div:nth-child(2){
    background-color: #fff;
}

.row-slider-item{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    
}


.col-md-7{
width: 58%;

}
.col-md-5{
    align-self: flex-end;
    width: 42%;
    
    }


/* ABOUT__________________________________________ */
.row-about{
    /* background-color: #7594b9; */
    border-bottom: 1px solid #DDE1E4;
    height: 610px;
    display: flex;
}
/* .row-about .conteiner{
     background-color: aqua; 
}
.abuot-conteiner{
     background-color: hotpink; 
}
.row-about .conteiner [class*="col-md"]{
   
    /* border: 1px solid black; 
} */

.abuot-conteiner h1{
    margin: 80px 0px;
    border-left: 8px solid #e1e6ea;
    padding-left: 15px;
}



.row-social{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px;
}
.row-social p{
    margin: 30px 0px;
}
.abuot-conteiner p{
    margin: 30px 0px;
}
.row-social div{
    width: 61px;
    height: 61px;
    margin: 1px;

   
    
}
.row-social a{
    display: block;
}
 .row-social .facebook{ 
    background: url(img/facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
}

.row-social .tweeter{ 
    background: url(img/tweeter.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
}

.row-social .google-plus{ 
    background: url(img/google.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
}
.row-social .dribbble{ 
        background: url(img/drebbble.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
} 
.row-social .behance{ 
        background: url(img/Be.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
} 

.row-about .block{
    display: flex;
    margin: 0px 0px 30px ;
}

.row-about .block h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
    font-family: 'Quattrocento Sans', sans-serif;

}

.block .squere div{
    width: 50px;
    height: 50px;
    color: white;
    background-color: #23b7a3;
    text-align: center;
    line-height: 3;    
}

.block .squere{
    margin-right: 15px;
}

/* 320 */
@media (min-width:250px){

    .conteiner{
       width: 100%;
    }
    body{
        width: 100%;
    }

    .search-conteiner{
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .logo-conteiner{
        position: absolute;
        top: 0px;
    }
    /* .navigation{
        margin-top: 15px;
    } */

    header .conteiner{
        height: 120px;
    }
    .logo{
        padding: 0px 0px;
    margin: 30px 0px 0px;
    }

    .menu-conteiner{
margin-top: 55px;
    }
    .scroll{
        overflow: auto;
    }

    .navigation ul li {
        margin: 0px 5px;
    }

 .main{
    display: flex;
    /* width: 100%; */
    /* align-items: center; */
    /* justify-content: flex-endcenter; */
    /* flex-direction: column; */
    flex-wrap: wrap;
 }
 .slide{
    height: 400px;
    width: 100%;
    background-position: bottom;
 }
 .slide .conteiner {
     width: 100%;
    padding: 0px 15px;
    display: block;

}

.slide .conteiner .column {
   
    align-items: center;
   
}

.slide-conteiner .col-md-7{
    width: 100%;
    padding: 0px;
}

.slide p {
    width: 100%;

}
.slider-button{
    width: 100%;
    margin-top: 30px;
}

.slide a {

    margin: 5px;

}

.row-about {

height: 100%;
}


.row-about .media-320{
    flex-direction: column;
}
.row-about .media-320 [class*="col-"]{
    width: 100%;
}

.row-social {
 
    margin: 15px 0px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.row-social div{

    margin: 6px;

   
    
}

}

/* 375 */
@media (min-width:375px){

    .conteiner{
       width: 100%;
    }
    body{
        width: 100%;
    }

    .search-conteiner{
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .logo-conteiner{
        position: absolute;
        top: 0px;
    }
    /* .navigation{
        margin-top: 15px;
    } */

    header .conteiner{
        height: 120px;
    }
    .logo{
        padding: 0px 0px;
    margin: 30px 0px 0px;
    }

    .menu-conteiner{
margin-top: 55px;
    }
    .scroll{
        overflow: auto;
    }

    .navigation ul li {
        margin: 0px 0px;
    }

 .main{
    display: flex;

    flex-wrap: wrap;
 }
 .slide{
    height: 400px;
    width: 100%;
    background-position: bottom;
 }
 .slide .conteiner {
     width: 100%;
    padding: 0px 15px;
    display: block;

}

.slide .conteiner .column {
   
    align-items: center;
   
}

.slide-conteiner .col-md-7{
    width: 100%;
    padding: 0px;
}

.slide p {
    width: 100%;

}
.slider-button{
    width: 100%;
    margin-top: 30px;
}

.slide a {

    margin: 5px;

}

.row-about {

height: 100%;
}


.row-about .media-320{
    flex-direction: column;
}
.row-about .media-320 [class*="col-"]{
    width: 100%;
}

.row-social {
 
    margin: 15px 0px;
   
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.row-social div{

    margin: 1px;
   

}

}

/* 425 */

@media (min-width:425px){

    .conteiner{
       width: 100%
    }
    body{
        width: 100%;
    }

    .search-conteiner{
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .logo-conteiner{
        position: absolute;
        top: 0px;
    }
 

    header .conteiner{
        height: 120px;
    }
    .logo{
        padding: 0px 0px;
    margin: 30px 0px 0px;
    }

    .menu-conteiner{
margin-top: 55px;
    }
    .scroll{
        overflow: auto;
    }

    .navigation ul li {
        margin: 0px 5px;
    }

 .main{
    display: flex;
    flex-wrap: wrap;
 }
 .slide{
    height: 400px;
    width: 100%;
    background-position: bottom;
 }
 .slide .conteiner {
     width: 100%;
    padding: 0px 15px;
    /* display: block; */

}

.slide .conteiner .column {
   
    align-items: center;
   
}

.slide-conteiner .col-md-7{
    width: 100%;
    padding: 0px;
}

.slide p {
    width: 100%;

}
.slider-button{
    width: 100%;
    margin-top: 30px;
}

.slide a {

    margin: 5px;

}

.row-about {

height: 100%;
}


.row-about .media-320{
    flex-direction: column;
}
.row-about .media-320 [class*="col-"]{
    width: 100%;
}

.row-social {
 
    margin: 10px 0px;
   
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.row-social div{

    margin: 1px;
   

}

}

/* 768 */
@media (min-width:768px){

    .conteiner{
       width: 100%;
    }
    body{
        width: 100%;
    }

    .search-conteiner{
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .logo-conteiner{
        position: absolute;
        top: 0px;
    }
    /* .navigation{
        margin-top: 15px;
    } */

    header .conteiner{
        height: 120px;
    }
    .logo{
        padding: 0px 0px;
    margin: 30px 0px 0px;
    }

    .menu-conteiner{
margin-top: 55px;
    }
    .scroll{
        overflow: auto;
    }

    .navigation ul li {
        margin: 0px 5px;
    }

 .main{
    display: flex;

    flex-wrap: wrap;
 }
 .slide{
    height: 400px;
    width: 100%;
    background-position: bottom;
 }
 .slide .conteiner {
     width: 100%;
    padding: 0px 15px;
    display: block;

}

/* .slide .conteiner .column {
   
   
   
} */

.slide-conteiner .col-md-7{
    width: 100%;
    padding: 0px;
}

.slide p {
    width: 100%;

}
.slider-button{
    width: 100%;
    margin-top: 100px;
}

.slide a {

    margin: 5px;

}

.row-about {

height: 100%;
}


.row-about .media-320{
    flex-direction: column;
}
.row-about .media-320 [class*="col-"]{
    width: 100%;
}

.row-social {
 
    /* margin: 10px 0px; */
   
     justify-content: flex-start;
    border-bottom: 1px solid black;
}

.row-social div{

    margin: 1px;
   

}

}

/* 1024 */
@media (min-width:1024px){

    .conteiner{
       width: 100%;
    }
    /* body{
        width: 100%;
    } */
/* 
    .search-conteiner{
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .logo-conteiner{
        position: absolute;
        top: 0px;
    }
 

    header .conteiner{
        height: 120px;
    }
    .logo{
        padding: 0px 0px;
    margin: 30px 0px 0px;
    }

    .menu-conteiner{
margin-top: 55px;
    } */
    .scroll{
        overflow: auto;
        /* justify-content: space-around; */
    }

    .navigation ul li {
        margin: 0px 2px;
    }

 /* .main{
    display: flex;

    flex-wrap: wrap;
 } */
 .slide{
    height: 400px;
    width: 100%;
    background-position: center;
 }
 .slide .conteiner {
     width: 100%;
    padding: 0px 15px;
    /* display: block; */

}

/* .slide .conteiner .column {
   
   
   
} */

.slide-conteiner .col-md-7{
    width: 100%;
    padding: 0px;
}

.slide p {
    width: 100%;

}
.slider-button{
    width: 100%;
    margin-top: 100px;
}

.slide a {

    margin: 5px;

}



}
